@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 🎨 Cores principais */
  --cor-vermelho: #c12020;
  --cor-vermelho-escuro: #7b1a1a;
  --cor-branco: #ffffff;
  --cor-cinza: #f3f4f6;
  --cor-preto: #111111;


  /* 🔠 Tipografia */
  --fonte-principal: 'Libre Baskerville', serif;


  /* 📏 Espaçamentos */
  --espaco-pequeno: 8px;
  --espaco-medio: 16px;
  --espaco-grande: 24px;
  --espaco-hiper-grande: 39px;
  --espaco-extra-grande: 45px;

  /* 🔎 Tamanhos de fonte */
  --texto-padrão: 16px;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}